form {
  margin: 3em auto;
  padding: 5em;
  width: 50%;
  display: flex;
  justify-content: center;
}

mat-card {
  margin: auto;
  padding: 5em;
  text-align: center;
  background:  linear-gradient( 106.9deg,  rgb(70, 68, 68) 60.9%, rgb(0, 0, 0) 122.3% );
}

